
.markerInvisible {
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

.markerFadeOut {
    -webkit-animation: fadeout 1s linear 1 forwards;
    animation: fadeout 1s linear 1 forwards;
}

@-webkit-keyframes fadeout {
    0%   { opacity: 1; }
    50%  { opacity: 0.5; }
    100% { opacity: 0; }
}
@keyframes fadeout {
    0%   { opacity: 1; }
    50%  { opacity: 0.5; }
    100% { opacity: 0; }
}

.markerFadeIn {
    -webkit-animation: fadein 0.5s linear 1 forwards;
    animation: fadein 0.5s linear 1 forwards;
}

@-webkit-keyframes fadein {
    0%   { opacity: 0; }
    50%  { opacity: 0.5; }
    100% { opacity: 1; }
}
@keyframes fadein {
    0%   { opacity: 0; }
    50%  { opacity: 0.5; }
    100% { opacity: 1; }
}

.svgIcon {
    background: rgba(0, 0, 0, 0);
}

.popup_container {
    max-height: 200px; 
    overflow-y: scroll;
}


.shadow {
/**
 * 0.35 
 * 0.5
 */
    -webkit-filter: drop-shadow( 3px -1px 2px rgba(0,0,0,0.35) );
            filter: drop-shadow( 3px -1px 2px rgba(0,0,0,0.35) ); /* Same syntax as box-shadow, except 
                                                       for the spread property */
}


/*.awesome-marker-shadow {
  background: url('images/marker-shadow.png') no-repeat 0 0;
  width: 36px;
  height: 16px;
}*/
